@font-face {
  font-family: "Miso Bold";
  src: url("../fonts/miso/bold.eot");
  src: url("../fonts/miso/bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/miso/bold.woff2") format("woff2"),
    url("../fonts/miso/bold.woff") format("woff"),
    url("../fonts/miso/bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Miso Regular";
  src: url("../fonts/miso/regular.eot");
  src: url("../fonts/miso/regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/miso/regular.woff2") format("woff2"),
    url("../fonts/miso/regular.woff") format("woff"),
    url("../fonts/miso/regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");

$brand-color: #fdde7e;
$text-color: #333333;
$price-color: #02995b;

$b-size: 1px;

$text-ff: "Miso Regular", sans-serif;
$title-ff: "Miso Bold", sans-serif;
$subtitle-ff: "Lato", sans-serif;
