@import "normalize";
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  min-height: 100vh;

  background-color: $brand-color;
}

.flex {
  font-family: $title-ff;
  padding: 100px 0;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  &__item {
    max-width: 370px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 7px;
    margin: 20px 15px;
    font-size: 0;
    height: 433px;
    @include tr;
    padding: 35px 100px;

    &--lg {
      padding: 45px 100px;
      height: 473px;
      vertical-align: middle;
      margin-top: 0;
    }
  }
  &__container {
  }
  &__price {
    color: $price-color;
    font-size: 7rem;

    margin: 0;
  }
  &__img {
    margin: 0 auto;
  }
  &__title {
    font-size: 5.6rem;
    color: $text-color;
    margin: 20px;
  }
  &__text {
    display: inline-block;
    max-width: 150px;
    font-size: 2rem;
    color: $text-color;
    font-family: $subtitle-ff;
    max-height: 4.7rem;
    overflow: hidden;
  }
  &__item:hover,
  &__item:focus,
  &__item:active {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  }
}
